@import './index.css';

.teaser {
  font-family: var(--fontfamily-sans);
  font-size: 18px;
  line-height: var(--text-line-height-sans-on-step-0);
}

@media screen and (min-width: 800px) {
  .teaser {
    font-size: 20px;
  }
}
